# **Random Forest**

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [2]:
!pip install scikit-learn==0.24.2

Collecting scikit-learn==0.24.2
  Downloading scikit_learn-0.24.2-cp37-cp37m-manylinux2010_x86_64.whl (22.3 MB)
     |████████████████████████████████| 22.3 MB 64.5 MB/s
Requirement already satisfied: joblib>=0.11 in /usr/local/lib/python3.7/dist-packages (from scikit-learn==0.24.2) (1.0.1)
Collecting threadpoolctl>=2.0.0
  Downloading threadpoolctl-2.2.0-py3-none-any.whl (12 kB)
Requirement already satisfied: scipy>=0.19.1 in /usr/local/lib/python3.7/dist-packages (from scikit-learn==0.24.2) (1.4.1)
Requirement already satisfied: numpy>=1.13.3 in /usr/local/lib/python3.7/dist-packages (from scikit-learn==0.24.2) (1.19.5)
Installing collected packages: threadpoolctl, scikit-learn
  Attempting uninstall: scikit-learn
    Found existing installation: scikit-learn 0.22.2.post1
    Uninstalling scikit-learn-0.22.2.post1:
      Successfully uninstalled scikit-learn-0.22.2.post1
Successfully installed scikit-learn-0.24.2 threadpoolctl-2.2.0

In [3]:
import pandas as pd
import numpy as np
import json
import os

data = pd.read_csv('/content/drive/MyDrive/Epro/preprocessed_data_for_phishingfishing.csv')

data.head()

   Unnamed: 0  ... phishing
0           0  ...        1
1           1  ...        1
2           2  ...        1
3           3  ...        1
4           4  ...        1

[5 rows x 13 columns]

In [4]:
data = data.drop(['url'], axis = 1)
data = data.drop(['Unnamed: 0'], axis = 1)
data = data.drop(['slash'], axis = 1)

In [5]:
for unshorten in data['unshorten']:
  if unshorten == '0':
    data['unshorten'] = data['unshorten'].replace([unshorten], 0)
  elif unshorten != 0:
    data['unshorten'] = data['unshorten'].replace([unshorten], 1)

data.head()

   unshorten  length  at  double_slash  ...  dot  ip_form     brand  phishing
0          1      45   0             0  ...    3        0  0.500000         1
1          0      50   0             0  ...    1        0  1.000000         1
2          0      40   0             0  ...    1        0  0.833333         1
3          0      47   0             0  ...    3        0  1.000000         1
4          0      41   0             0  ...    1        0  1.000000         1

[5 rows x 10 columns]

In [6]:
train_data = data.drop('phishing', axis = 1)
target = data['phishing']

train_data.shape, target.shape

((20000, 9), (20000,))

In [8]:
from sklearn.model_selection import train_test_split, GridSearchCV

x_train, x_test, y_train, y_test = train_test_split(train_data, target, test_size = 0.25, random_state = 123456)

In [9]:
x_train.shape, x_test.shape

((15000, 9), (5000, 9))

In [10]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20000 entries, 0 to 19999
Data columns (total 10 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   unshorten     20000 non-null  int64
 1   length        20000 non-null  int64
 2   at            20000 non-null  int64
 3   double_slash  20000 non-null  int64
 4   http          20000 non-null  int64
 5   hyphen        20000 non-null  int64
 6   dot           20000 non-null  int64
 7   ip_form       20000 non-null  int64
 8   brand         20000 non-null  float64
 9   phishing      20000 non-null  int64
dtypes: float64(1), int64(9)
memory usage: 1.5 MB

In [11]:
from sklearn.neighbors import KNeighborsClassifier
from sklearn.ensemble import RandomForestClassifier
import joblib
from sklearn.base import BaseEstimator, TransformerMixin

In [12]:
from sklearn.model_selection import KFold
from sklearn.model_selection import cross_val_score
k_fold = KFold(n_splits=10, shuffle=True, random_state=0)

In [13]:
clf = RandomForestClassifier(n_estimators=100, oob_score=True, random_state = 123456)
clf.fit(x_train, y_train)

RandomForestClassifier(oob_score=True, random_state=123456)

In [14]:
y_pred = clf.predict(x_test)
y_pred

array([0, 0, 1, ..., 1, 0, 0])

In [15]:
print(y_pred[23])

0

In [16]:
clf.get_params

저장

In [17]:
import joblib

joblib.dump(clf, "model.joblib")

['model.joblib']

In [18]:
rf = RandomForestClassifier(bootstrap=True, ccp_alpha=0.0, class_weight=None,
                       criterion='gini', max_depth=None, max_features='auto',
                       max_leaf_nodes=None, max_samples=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=100,
                       n_jobs=None, oob_score=True, random_state=123456,
                       verbose=0, warm_start=False)

In [19]:
params = {"bootstrap":"True", "ccp_alpha":0.0, "class_weight":"None",
    "criterion":'gini', "max_depth":"None", "max_features":'auto',
    "max_leaf_nodes":"None", "max_samples":"None",
    "min_impurity_decrease":0.0, "min_impurity_split":"None",
    "min_samples_leaf":1, "min_samples_split":2,
    "min_weight_fraction_leaf":0.0, "n_estimators":100,
    "n_jobs":"None", "oob_score":"True", "random_state":123456,
    "verbose":0, "warm_start":"False"}

In [20]:
rf2 = RandomForestClassifier()
rf2.set_params(**params)

RandomForestClassifier(bootstrap='True', class_weight='None', max_depth='None',
                       max_leaf_nodes='None', max_samples='None',
                       min_impurity_split='None', n_jobs='None',
                       oob_score='True', random_state=123456,
                       warm_start='False')

In [23]:
data = pd.read_csv('/content/sample.csv')

data.head()

                                             url  ... phishing
0  http://seguridadar7912.byethost9.com/pase.php  ...        1

[1 rows x 12 columns]

In [24]:
data = data.drop(['url'], axis = 1)
data = data.drop(['slash'], axis = 1)

In [25]:

for unshorten in data['unshorten']:
  if unshorten == '0':
    data['unshorten'] = data['unshorten'].replace([unshorten], 0)
  elif unshorten != 0:
    data['unshorten'] = data['unshorten'].replace([unshorten], 1)

data.head()

   unshorten  length  at  double_slash  ...  dot  ip_form  brand  phishing
0          1      45   0             0  ...    3        0    0.5         1

[1 rows x 10 columns]

In [26]:
train_data = data.drop('phishing', axis = 1)
target = data['phishing']

train_data.shape, target.shape

((1, 9), (1,))

In [27]:
rf3 = joblib.load("/content/model.joblib")

In [28]:
y_pred = rf3.predict(train_data)
print(y_pred)

y_pred[0]

[1]

1

In [29]:
pred = rf3.predict(x_test)
pred

array([0, 0, 1, ..., 1, 0, 0])

In [30]:
from sklearn.metrics import accuracy_score

y_pred = clf.predict(x_test)

print('Model accuracy score with 10 decision-trees : {0:0.4f}'. format(accuracy_score(y_test, y_pred)))

# accuracy = accuracy_score(y_test, predicted)

# print(f'Out-of-bag score estimate: {clf.oob_score_:.3}')
# print(f'Mean accuracy score: {accuracy:.3}')

Model accuracy score with 10 decision-trees : 0.9480