sample.csv 에는 일단 300개 데이터셋만 저장

모든 함수는 악성 가능성이 있으면 1, 아니면 0
ex) // 가 중간에 포함되면 1, 아니면 0

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

In [24]:
import pandas as pd
import numpy as np
import os

data = pd.read_csv('/content/sample.csv')

data.head()

   phish_id                                                url  ... online target
0   7234051      http://seguridadar7912.byethost9.com/pase.php  ...    yes  Other
1   7234046  http://kpatacusot.com/first/mazon/amazon/homep...  ...    yes  Other
2   7234045           http://kpatacusot.com/first/mazon/f7404/  ...    yes  Other
3   7234044    https://hufschuh.app/online.americanexpress.com  ...    yes  Other
4   7234043          http://kpatacusot.com/first/mazon/amazon/  ...    yes  Other

[5 rows x 8 columns]

In [25]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 299 entries, 0 to 298
Data columns (total 8 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   phish_id           299 non-null    int64
 1   url                299 non-null    object
 2   phish_detail_url   299 non-null    object
 3   submission_time    299 non-null    object
 4   verified           299 non-null    object
 5   verification_time  299 non-null    object
 6   online             299 non-null    object
 7   target             299 non-null    object
dtypes: int64(1), object(7)
memory usage: 18.8+ KB

## 전처리

In [26]:
#url 길이

def length(url):
  return len(url)

In [27]:
#url 단축 여부
import requests

def url_shorten(url):
    req = 'https://unshorten.me/json/'+url
    response = requests.request("GET", req).json()
    if (response['success'] and response['resolved_url'] != url):    # 단축 url인 경우 -> 피싱
        return 1
    else:                                                            # 정상
        return 0

In [28]:
#@여부

def at_sign(url):
  if '@' in url:
    return 1
  else:
    return 0

In [29]:
# 중간에 // 여부, redirection 확인

def double_slash(url):
  if '//' in url[7:]:
    return 1
  else:
    return 0

In [30]:
#점 개수

def dot(url):
  return url.count('.')

https://m.blog.naver.com/PostView.naver?isHttpsRedirect=true&blogId=is_king&logNo=221520718981

In [31]:
#IP주소
from urllib.parse import urlparse

def IP_add(url):
  parse = urlparse(url)
  domain = parse.netloc.split('.')
  try:
    int(domain[-1],0)
    return 1
  except ValueError:
    return 0

In [32]:
# - 있는지

def dash(url):
  if '-' in url:
    return 1
  else:
    return 0

In [33]:
#http 인지 https 인지 확인

def http(url):
  if url.startswith('http://'):
    return 1
  else:
    return 0

In [34]:
file = pd.read_csv('/content/topsites.csv')

file.head()

        topsites
0     google.com
1    youtube.com
2   facebook.com
3      baidu.com
4  wikipedia.org

In [35]:
list = []
for index in file['topsites']:
  list.append(index.split('.')[0].lower())

print(list)

['google', 'youtube', 'facebook', 'baidu', 'wikipedia', 'yahoo', 'google', 'reddit', 'qq', 'amazon', 'taobao', 'twitter', 'tmall', 'google', 'live', 'vk', 'instagram', 'sohu', 'sina', 'jd', 'weibo', '360', 'google', 'google', 'linkedin', 'google', 'list', 'google', 'google', 'yandex', 'netflix', 'google', 'yahoo', 'google', 't', 'ebay', 'google', 'pornhub', 'imgur', 'bing', 'msn', 'onclkds', 'twitch', 'google', 'google', 'tumblr', 'gmw', 'alipay', 'livejasmin', 'xvideos', 'mail', 'microsoft', 'ok', 'aliexpress', 'wordpress', 'hao123', 'stackoverflow', 'imdb', 'github', 'amazon', 'blogspot', 'pinterest', 'csdn', 'wikia', 'apple', 'google', 'popads', 'youth', 'office', 'bongacams', 'paypal', 'microsoftonline', 'google', 'google', 'whatsapp', 'google', 'xhamster', 'detail', 'diply', 'google', 'adobe', 'coccoc', 'craigslist', 'nicovideo', 'txxx', 'dropbox', 'amazon', 'google', 'amazon', 'googleusercontent', 'google', 'booking', 'thepiratebay', 'google', 'porn555', 'kbstar', 'shinhan', 'wooribank', 'ibk', 'kakaobank']

In [36]:
#이미 사용되고있는 사이트명 / 브랜드명을 사용하고 있는지 -> alexa 등에서 저장하기

def brands(url):
  domain = urlparse(url).netloc.lower()
  for names in list:
    if names in domain:
      return 1
    else:
      return 0

In [38]:
res = []
index = 0

for url in data['url']:
  res.append([])
  res[index].append(length(url))
  res[index].append(url_shorten(url))
  res[index].append(at_sign(url))
  res[index].append(double_slash(url))
  res[index].append(dot(url))
  res[index].append(IP_add(url))
  res[index].append(dash(url))
  res[index].append(http(url))
  res[index].append(brands(url))

  index+=1

In [39]:
for i in range(10):
  print(res[i])

[45, 0, 0, 0, 3, 0, 0, 1, 0]
[50, 0, 0, 0, 1, 0, 0, 1, 0]
[40, 0, 0, 0, 1, 0, 0, 1, 0]
[47, 0, 0, 0, 3, 0, 0, 0, 0]
[41, 0, 0, 0, 1, 0, 0, 1, 0]
[37, 0, 0, 0, 2, 0, 0, 0, 0]
[36, 0, 0, 0, 2, 0, 0, 1, 0]
[36, 0, 0, 0, 2, 0, 0, 0, 0]
[34, 0, 0, 0, 2, 0, 0, 0, 0]
[34, 0, 0, 0, 2, 0, 0, 0, 0]

dataframe

In [40]:
columns = ['length', 'url_shorten', 'at_sign', 'redirection', 'dot', 'IP', 'dash', 'http', 'brands']
final_res = pd.DataFrame(res, columns= columns)

In [42]:
final_res.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 299 entries, 0 to 298
Data columns (total 9 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   length       299 non-null    int64
 1   url_shorten  299 non-null    int64
 2   at_sign      299 non-null    int64
 3   redirection  299 non-null    int64
 4   dot          299 non-null    int64
 5   IP           299 non-null    int64
 6   dash         299 non-null    int64
 7   http         299 non-null    int64
 8   brands       299 non-null    int64
dtypes: int64(9)
memory usage: 21.1 KB

In [43]:
final_res.head()

   length  url_shorten  at_sign  redirection  dot  IP  dash  http  brands
0      45            0        0            0    3   0     0     1       0
1      50            0        0            0    1   0     0     1       0
2      40            0        0            0    1   0     0     1       0
3      47            0        0            0    3   0     0     0       0
4      41            0        0            0    1   0     0     1       0

In [44]:
final_res.describe()

           length  url_shorten     at_sign  ...        dash        http      brands
count  299.000000   299.000000  299.000000  ...  299.000000  299.000000  299.000000
mean    55.735786     0.103679    0.013378  ...    0.324415    0.371237    0.003344
std     51.237967     0.305355    0.115079  ...    0.468941    0.483946    0.057831
min     19.000000     0.000000    0.000000  ...    0.000000    0.000000    0.000000
25%     31.500000     0.000000    0.000000  ...    0.000000    0.000000    0.000000
50%     40.000000     0.000000    0.000000  ...    0.000000    0.000000    0.000000
75%     57.000000     0.000000    0.000000  ...    1.000000    1.000000    0.000000
max    445.000000     1.000000    1.000000  ...    1.000000    1.000000    1.000000

[8 rows x 9 columns]

In [45]:
final_res.to_csv('/content/preprocessed_data.csv')